

<div class="product-container">
    <% products.forEach(function(product) { %>
        <div class="product-card">
            <img src="<%= product.image %>" alt="<%= product.title %>" class="product-image">
            <div class="product-info">
                <h3 class="product-title"><%= product.title %></h3>
                <p class="product-price">$<%= product.price.toFixed(2) %></p>
            </div>
            <div class="product-actions">
                <a href="/edit/<%= product.id %>" class="edit-button">Edit</a>
                <a href="/delete/<%= product.id %>" class="delete-button">Delete</a>
            </div>
        </div>
    <% }); %>
</div>

