<h3><%-pageTitle  %></h3>

<a href="/views/admin/create" class="btn btn-info">Create New Product</a>
<table class="table">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < products.length; index++ ) { %>
            <tr>
                
                <td><%= products[index].title %></td>
                <td><%= products[index].price %></td>
                <% if(products[index].category) { %>
                <td><%= products[index].category.title %></td>
                <% } else { %> 
                    <td> null </td>
                <% } %>
                <td><%= products[index].description %></td>
                <td>
                    <a href="/admin/products/edit/<%= products[index]._id %>" class="btn btn-warning">Edit</a>
                    <a href="/admin/products/delete/<%= products[index]._id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>